.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.card__like-btn {
  background-image: url(../images/Likeicon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.9;
  cursor: pointer;
}
.card__title {
  flex-grow: vertical;
  flex: auto;
  width: 420px;
  height: 96px;
  margin-top: 10px;
  color: black;
  gap: 12px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
    object-fit: cover;
    display: block;
    border-radius: 1px;
  }
}
