.deletemodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.deletemodal.modal_is-opened {
  display: flex;
}

.deletemodal__delete-btn {
  background-color: #ff6565;
  border-radius: 8px;
  font-size: 16px;
  width: 156px;
  height: 52px;
}

.deletemodal__cancel-btn {
  font-size: 16px;
  background-color: #ff6565;
  border-radius: 8px;
  border-color: #212121;
  background-color: white;
  width: 156px;
  height: 52px;
}

#delete-form {
  display: flex;
  flex-direction: row;
  justify-content: center; /* <-- centers buttons */
  gap: 12px; /* space between delete & cancel buttons */
}

.delete-title {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* <-- centers buttons */
  gap: 12px; /* space between delete & cancel buttons */
}
